---
title: Getting Started
summary: a tutorial about how to get started
tags:
  - tutorial
---

## this is a h2

In this article we explore how to get started with SvelteKit

{% collapsible "This is the summary" %}

This is the content

{% endcollapsible %}
